*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#container,
#form {
    display: flex;
    justify-content: center;
    align-items: center;

}

#container {
    height: 100vh;
}

#form {
    width: 70%;
    flex-direction: column;
    background-color: aliceblue;
    border-radius: .6rem;
    box-shadow: 0px 0px 5px;
}

#tabs {
    height: 5rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 1px solid transparent;
    border-bottom-color: grey;
}

.border-bottom {
    border: 3px solid transparent;
    border-bottom-color: rgb(89, 89, 252);
}

#signIn:hover,
#signUp:hover {
    border: 3px solid transparent;
    border-bottom-color: rgb(89, 89, 252);
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    font-size: 1.8rem;
    width: 100%;
    cursor: pointer;
    color: rgb(89, 89, 252);
}

#signInForm {
    width: 80%;
    height: 100%;
    padding: 1rem .8rem;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: .875rem;
}

#signUpForm {
    width: 80%;
    height: 100%;
    padding: 1rem .8rem;
    display: none;
    grid-template-rows: repeat(3, 1fr);
    gap: .875rem;
}

#nameBox,
#emailBox,
#passwordBox,
#confirmPasswordBox,
#signUpEmail,
#signUpPassword {
    border: 2px solid rgb(89, 89, 252);
}

#name,
#email,
#password,
#confirmPassword,
#signUpEmail,
#signUpPassword {
    width: 100%;
    height: 100%;
    padding: .2rem .4rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: inherit;
}

#name::placeholder,
#email::placeholder,
#password::placeholder,
#confirmPassword::placeholder {
    color: rgba(0, 0, 255, 0.651);
}



.error,
#error {
    color: red;
    margin: 0 .5rem;
    font-weight: 600;
    letter-spacing: .6px;
}

#signUpBtn,
#signInBtn {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(233, 233, 233);
    font-weight: 600;
    color: white;
    letter-spacing: .6px;
    border-radius: .6rem;
    padding: 1rem .8rem;
    margin: .5rem;
}

.enabled {
    background-color: rgb(89, 89, 252) !important;
}

#nameBox,
#emailBox,
#passwordBox,
#confirmPasswordBox {
    border-radius: .6rem;
    padding: .6rem .8rem;
    margin: .5rem;
    display: flex;
    align-items: center;
}

#btn {
    height: 100%;
    display: flex;
    align-items: center;
}

.hidden {
    opacity: 0;
}